* {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* -------------loader css--------------- */
  
  #loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  #loader .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* ----------------code css----------------- */
  
  nav {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .redline {
    height: 7px;
    width: full;
    background-color: #fd7e14;
  }
  
  .vlabs {
    font-size: 35px;
    font-weight: 400;
    color: #2c99ce;
    font-family: sans-serif;
  }
  
  nav .logo1 {
    height: 60px;
  }
  
  nav .logo2 {
    height: 70px;
  }
  
  .hero {
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  #container {
    height: 600px;
    width: 800px;
    background-color: rgba(220,229,236,255);
    position: relative;
  }
  
  .step1 {
    padding: 30px;
  }
  
  #arrow {
    position: absolute;
    top: 555px;
    left: 620px;
    z-index: 1;
  }

  #arrow1, #arrow5, #arrow6, #arrow7, #arrow8, #arrow9  {
    position: absolute;
    top: 230px;
    left: 450px;
    z-index: 1;
  }

  #arrow2 {
    position: absolute;
    top: 200px;
    left: 500px;
    z-index: 1;
  }

  #arrow3 {
    position: absolute;
    top: 200px;
    left: 500px;
    z-index: 1;
  }
  #arrow4 {
    position: absolute;
    top: 309px;
    left: 191px;
    z-index: 1;
  }
  
  #eight {
    position: absolute;
    left: 54px;
    top: 150px;
  }
  
  #nine, #hi, #hii, #hiii, #hiiii, #hiiiii {
    position: absolute;
    left: 54px;
    top: 150px;
  }
  
  #ten {
    position: absolute;
    left: 54px;
    top: 150px;
  }
  
  #eleven {
    position: absolute;
    left: 54px;
    top: 150px;
  }
  
  #gif7 {
    position: absolute;
    left: 54px;
    top: 150px;
  }
  
  #gif8 {
    position: absolute;
    left: 54px;
    top: 150px;
  }
  
  #gif9 {
    position: absolute;
    left: 54px;
    top: 150px;
  }
  
  #gif10, #gif11, #gif12, #gif13, #gif14, #gif15 {
    position: absolute;
    left: 54px;
    top: 150px;
  }
  
  #transbox7 {
    height: 110px;
    width: 165px;
    position: absolute;
    left: 500px;
    top: 182px;
  }
  
  #transbox8 {
    height: 110px;
    width: 145px;
    position: absolute;
    left: 559px;
    top: 162px;
  }
  
  #transbox9 {
    height: 110px;
    width: 165px;
    position: absolute;
    left: 550px;
    top: 152px;
  }
  
  #transbox10 {
    height: 180px;
    width: 50px;
    position: absolute;
    left: 250px;
    top: 242px;
  }

  #transbox11 {
    height: 110px;
    width: 177px;
    position: absolute;
    left: 495px;
    top: 174px;
  }

  #transbox12{
    height: 110px;
    width: 177px;
    position: absolute;
    left: 513px;
    top: 174px;
  }

  #transbox13, #transbox14, #transbox15{
    height: 110px;
    width: 177px;
    position: absolute;
    left: 534px;
    top: 165px;
  }
  
  .content28 button {
    visibility: hidden;
    position: absolute;
    left: 662px;
    top: 539px;
    border: none;
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(20, 117, 228);
    padding-top: 5px;
    color: #fff;
    border-radius: 4px;
  }

  .projection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    letter-spacing: 0.1em;
    font-size: 1.6rem;
    background-color: rgb(20, 117, 228);
    color: white;
  }