
  
  /* Main Content Area */
  .hero {
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  #container {
    height: 600px;
    width: 800px;
    background-color: rgba(220,229,236,255);
    position: relative;
  }
  
  .projection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    letter-spacing: 0.1em;
    font-size: 1.6rem;
    background-color: rgb(20, 117, 228);
    color: white;
  }
  
  .step1 {
    padding: 30px;
  }
  
  /* Arrow Style */
  #arrow {
    position: absolute;
    top: 555px;
    left: 620px;
    z-index: 1;
  }

  #arrow1 {
    position: absolute;
    left: 530px;
    top: 179px;
    z-index: 1;
  }
  
  /* Transbox Style */
  #transbox12 {
    
    height: 90px;
    width: 150px;
    position: absolute;
    left: 573px;
    top: 159px;
  }
  
  /* Button Style */
  .content28 button {
    position: absolute;
    left: 669px;
    top: 552px;
    border: none;
    width: 100px;
    height: 38px;
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(20, 117, 228);
    color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }

  #gif12 {
    position: absolute;
    left: 30px;
    top: 112px;
  }