.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  #container {
    height: 600px;
    width: 800px;
    background-color: rgba(220,229,236,255);
    position: relative;
  }
  
  .projection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    letter-spacing: 0.1em;
    font-size: 1.6rem;
    background-color: rgb(20, 117, 228);
    color: white;
  }
  
  .step1 {
    padding: 30px;
  }
  
  /* Arrow Style */
  #arrow {
    position: absolute;
    top: 555px;
    left: 620px;
    z-index: 1;
  }

  #arrow2 {
    position: absolute;
    top: 192px;
    left: 439px;
    z-index: 1;
  }
  
  /* Transbox Style */
  #transbox17 {
    height: 121px;
    width: 163px;
    position: absolute;
    left: 539px;
    top: 142px;
    
  }
  #transbox17a {
    height: 121px;
    width: 180px;
    position: absolute;
    left: 491px;
    top: 142px;
    
  }

  #transbox17b {
    height: 121px;
    width: 180px;
    position: absolute;
    left: 500px;
    top: 142px;
    
  }

  #transbox17c {
    height: 121px;
    width: 180px;
    position: absolute;
    left: 500px;
    top: 162px;
    
  }
  
  /* Button Style */
  .content26 button {
    position: absolute;
    left: 669px;
    top: 552px;
    border: none;
    width: 100px;
    height: 38px;
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(20, 117, 228);
    color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }
  
  /* GIF Styles */
  #gif17,
  #gif18,
  #gif19,
  #gif20,
  #gif21,
  #gif22 {
    position: absolute;
    left: 30px;
    top: 112px;
  }